@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.brand {
  padding: 3px;
  font-size: 30px;
  color: gray;
  font-weight: bold;
}
.tags {
  margin-left: 20px;
}
.navbarcont {
  display: flex;
  justify-content: flex-end;
}
.tags img {
  width: 38px;
  height: 36px;
}





.introContainer {
  /* border: 2px solid red; */
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.left {
  /* border: 2px solid red; */
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  flex:60%;
}
.right{
  /* border: 2px solid red; */
  flex:40%;
}
.right img {
  width: 400px;
  height: 500px;
}
.salutation {
  color: #74bdcb;
  font-weight: bolder;
}
.desc {
  font-size: 2rem;
  color: black;
}
.cards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.education_details{
  display: flex;
  flex-direction: row!important;
}
.education{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .introContainer {
    flex-direction: column-reverse;
  }
  .cards{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}